.about-container{
    margin: 4rem 4rem;
}
.about-container h1{
    display: flex;
    justify-content:center;
    margin: 20px 0;
    font-size:3rem;
}
.about-container h1:not(:hover){
    transition: 0.3s ease-in;
    transform: scale(70%);
    cursor: pointer;
    
}
.about-container h1:hover{
    transition: 0.3s;
    cursor: pointer;
}
p{
    color: black;
    overflow: hidden;
    font-size: 1rem;
}